body{
    font-family: 'Courier New', Courier, monospace;
}

::placeholder{
    font-family: 'Courier New', Courier, monospace;
}

#post{
    margin:5px;
    padding: 10px;
    text-align: center;
    background-color: rgb(145, 145, 145);
}

#postTitle{
    font-weight: bold;
}

img{
    width: 100%;
    max-width: 250px;
    height: auto;
}