body{
    font-family: 'Courier New', Courier, monospace;
}

::placeholder{
    font-family: 'Courier New', Courier, monospace;
}

#post{
    margin:5px;
    padding: 10px;
    text-align: center;
    background-color: #91c0d6;
}

#postTitle{
    font-weight: bold;
}

/*Header CSS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #387490;
    background-color: #8dbed4;
  }

#header {
  background-color: #387490;
  }
  
  li {
    float:left;
  }

  .headerInfo{
    float: right;
  }

  #lblTime, #lblUser{
    color: white;
    font-size: 20px;
    padding: 10px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li button{
      display: block;
      align-content: center;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #387490;
  }

  li #boardTitle{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 50px;
  }

  /*Form CSS*/
  form{
    background-color: #aedaee;
    text-align: center;
    margin-top: 2px;
    padding: 5px;
}

form .tbForm, select{
    padding:5px;
    margin:2px;
    width:500px;
}

#loginForm, #registerForm{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/*Styles the submit button*/
.form-submit-button {
    background:#0066A2;
    color:white;
    border-style:outset;
    border-color:#0066A2;
    height:50px;
    width:100px;
    font:bold15px arial,sans-serif;
    text-shadow:none;
}
